.contact{
    background-color: rgb(243, 194, 194) !important;
}
.title{
    font-size: 200% !important;
}
.contact-text{
    font-family: 'Edu TAS Beginner', cursive;
    color: rgb(6, 6, 117);
}
.send-mail-btn{
    padding: 3px 20px !important;
    float: right;
    font-weight: bold !important;
    background-color: black !important;
    border: none !important;
}
.mail-text{
    font-weight: bold;
}
.social img{
    width: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media(min-width:576px){
    .contact-details{
        padding-left: 100px !important;
    }
}