.home-dark{
    background-color: rgb(0, 0, 0);
}
.intro-dark{
    color: white;
}
.contact-btn-dark{
    padding: 20px 15px !important; 
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid black!important;
    color: black !important;
}
.background-logo-dark{
    display: flex;
    width: 90%;
    margin: auto;
    opacity: 0.12;
}
.icon-logo-dark{
    display: flex;
    position: absolute;
    margin: auto;
    opacity: 0.18;
}
@media(max-width: 992px){
    .icon-logo-dark{
        width: 100%;
    }
}